/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    --primaryCL: #fc656a;
    --secondaryCL: #071629;
}

/* Basic styles for larger screens */
body {
    font-family: Arial, sans-serif;
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: content;
    background-repeat: no-repeat;
    color: #fff;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 30px;
    max-width: 1250px;
}

header a {
    text-decoration: none;
}

header img {
    width: 150px;
    height: auto;
    margin-left: 50px;
}

 nav a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color:#fff;
 }

 nav a:hover {
    opacity: 90%;
    color: #FF6565;
 }

 /* Banner Section */
 .banner {
    text-align: center;
    margin-top: 12em;
    font-weight: bold;
 }

 .banner h1 {
font-size: 3em;
 }

 .registerBTN {
    padding: 10px 20px;
    margin-top: 4em;
    background-color: var(--primaryCL);
    border: none;
    border-radius: 35px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 20px #000000ad;
    margin-bottom: 7rem;
 }

 .toberounded {
    border-radius: 100%;
 }
 
 .p-banner {
margin-left: 15%;
margin-right: 15%;
 }

#do-section {
    height: 400px;
    color: #ffffff;
}

.do-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.do-section h1 {
    font-weight: bold;
    padding-top: 17%;
    padding-bottom: 1.5%;
    color: #686a78;
}

.do-section p {
    color: #a9acb0;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2.5%;
}

.do-container {
    display: flex;
    flex-direction: row;
}

.do-container h2 {
    font-weight: bold;
    color: #65646b;
    padding-top: 0.5%;
}