.polygon {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: blueviolet;
    color: white;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.textcon {
    padding: 50px;
}

h2 {
    font-size: 50px;
    margin-top: 20px;
}

p {
    margin-top: -40px;
    font-size: larger;
}




.our-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}