/* Generate Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primaryCL: #c273ff;
    --secondaryCL: #071629;
}

/* Body */
body {
    font-family: 'Source Sans Pro', Arial, sans-serif; /* Make sure to import fonts if needed */
    background-image: url(./Images/Object.png);
    background-size: content;
    background-repeat: no-repeat;
    color: #fff;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 20px;
    max-width: 1240px;
}

header a {
    text-decoration: none;
}

header img {
    width: 150px;
    height: auto;
    margin-left: 50px;
}

nav a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color:#ffffff;
}

nav a:hover {
    opacity: 80%;
}

/* Banner Section */
.header-text {
    text-align: center;
    margin-top: 5em;
    font-weight: bold;
}

.header-text h1 {
    font-size: 6em;
}

.header-text span {
    margin: 1em;
}

.registerBTN {
    padding: 10px 20px;
    background-color: var(--primaryCL);
    border: none;
    border-radius: 35px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 20px #000000ad;
    margin-top: 3.75em;
    margin-bottom: 17rem;
}

.toberounded {
    border-radius: 100%;
}

.subheading {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
}

.subheading>span {
    color: var(--primaryCL);
    font-weight: 700;
}

.blacked {
    color:#071629;
}

.pro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 900px;
    text-align: center;
}

.pro-card img {
    width: 135px;
}

#quote-section {
    border: var(--primaryCL);
    height: 450px;
    margin-top: 75px;
}

.quote-container {
    display: flex;
    flex-direction: row;
    background-color: var(--primaryCL);
    height: 100%;
    padding: 150px;
}

.quote-text {
    margin-left: 50px;
}

#video-section {
    height: 550px;    
}

.video-mother {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin: auto;
    margin-left: 2.5em;
    height: 500px;
    padding-bottom: 100px;
}

.video-card {
    display: flex;
    flex-direction: column;
    }

.subvidieo-card img {
     width: 100px;   
    }
.video-text h3 {
    font-size: 20px;
    color: #333;
}

.video-text h4 {
    color: #c273ff;
}

.video-text h3 {
    font-size: 20px;
    color: #333;
}

.video-text p {
    color: rgb(195, 198, 201);
}

#membership {
background-color: #071629;
height: 400px;
}

.membership-container {
 display: flex; 
 flex-direction: row;
 gap: 150px;
padding-top: 30px;
text-align: center;
margin-left: 3.6em;
max-width: 1400px;
}

#faq {
    height: 400px;
}

#faq h2 {
    color: #071629;
    text-align: center;
    font-size: 45px;
    font-weight: 100;
}

.faq-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.faq-container h3 {
    color: #071629;
}

.faq-container p {
    color: #abadb0;
}

#footer {
    background-color: #071629;
    height: 200px;
}

.footer-cotainer {
padding-top: 70px;
padding-left: 100px;
}

.footer-social-media {
    color: #fffffc;
    text-align: end;
    padding-right: 100px;
}

.footer-social-media img {
    border-radius: 7px;
    margin: 0 5px
}

.footer-cotainer p {
    text-align: center;
    padding-top: 5px;
}